* {
  margin: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.navbar {
  width: 100%;
  margin: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 32px
}

.navbar-brand>img {
  height: 100%;
  color: rgb(238, 238, 238);
  filter: brightness(0) saturate(100%) invert(30%) sepia(53%) saturate(323%) hue-rotate(158deg) brightness(91%) contrast(88%);
}

.card {

  width: 300px;
  height: min-content;
  margin-left: 10px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  padding: 0;
  box-shadow: 2px 2px 5px rgb(126, 126, 126);

}

.list {
  cursor: default;
}

.card-header {
  text-transform: capitalize;
  text-shadow: 1px 2px 4px rgb(126, 126, 126);
  color: rgb(255, 255, 255);
}

.list-name {

  opacity: .45;
  background-color: blue;
  text-transform: capitalize;
  cursor: default;
}

#button-addon2 {
  background-color: rgb(52, 52, 52);
  box-shadow: -3px 0px 3px 0px #aaa;
}

#button-addon2:active {
  box-shadow: -1px 0px 3px 0px #aaa;
  font-size: .98rem;
}

.list-name>svg {
  cursor: pointer;
}


.container-fluid {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  overflow-x: scroll;
}

.card a {
  text-decoration: none;
  border: none;
  color: white;
  height: 100%;
  width: 100%;
}

a:visited {
  text-decoration: none;
  color: white;
}

.custom-card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  text-emphasis: revert-layer;

}

.custom-card-row>svg {
  margin-left: 5px;
  cursor: pointer;
}

.custom-card {
  cursor: default;
}


.custom-card-row>p {
  width: 95%;
  padding: 5px 0;
  padding-left: 10px;
  background-color: white;
  border-radius: 5px;
}

.custom-card-row>p:hover {
  text-decoration: underline;

}

.input-group-sm>input {
  font-size: 1.5rem;
  height: 2.5rem;
  opacity: .9;

}

.input-group-sm>input::placeholder {
  font-size: .8rem;
}

.input-group-sm>input:focus {
  box-shadow: inset 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.custom-card-row>* {
  margin: 0;
}

.list-group-item {
  cursor: pointer;
}

.custom-card-row>.list-group-item:last-child {
  background-color: rgb(255, 255, 255);
  cursor: default;
}

.custom-card-row>.list-group-item:hover {
  background-color: aliceblue;
}

.custom-card-row>.list-group-item:active {
  background-color: rgb(221, 237, 252);
}

.checklist {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.checkitem {
  width: 100%;
  padding: 10px;
  margin: 0;
  cursor: default;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.checkitem>svg {
  align-self: flex-end;
  cursor: pointer;
  color: black;
  font-size: 1.1rem;
  opacity: .9;

}

.checkitem>input {
  margin-top: 10px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.modal-body>.card {
  width: 100%;
  row-gap: 10px;
  border: none;
  margin: 0;
}

.modal-content {
  min-width: fit-content;
  margin: 0 auto;
}

.card-subtitle {
  text-transform: capitalize;
  width: 100%;
  border-bottom: 1px solid rgb(114, 114, 114);
  opacity: .7;
}

.add-check-item {
  box-shadow: inset 2px 2px 5px 0 rgba(181, 181, 181, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.add-check-item::placeholder {
  font-size: .8em;
  opacity: .7;
}

.checkitem-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.checkitem-row>svg {
  font-size: .9rem;
  opacity: .7;
  cursor: pointer;
}

.checkitem-row>svg:active {
  font-size: .9rem;
  opacity: 1;
  cursor: pointer;
}

.form-check {
  margin: 0;
  margin-top: auto;
  margin-bottom: auto;

}

.checkitem-row>* {
  align-self: center;
}

.form-check>input {
  cursor: pointer;
}

.form-check>input:checked+label {
  text-decoration: line-through;
  color: red;

}

.modal-header {
  align-items: center;
}

.breadcrumb {
  text-transform: capitalize;
  font-size: 1.5rem;
  align-self: center;
  margin: 0;
  margin-left: 20px;
  width: 100%;
}

.breadcrumb>li:last-child {
  font-size: 1.2rem;
  align-self: center;
}

.error-container {
  display: flex;
  font-size: 3rem;
  color: rgb(152, 44, 44);
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.error-container>h1 {
  font-size: 9rem;
  text-shadow: 2px 2px #e06262;

}